body{
    display:flex;
    flex-dirextion:column;
    justify-content:center;
    align-items:center;
    margin:0px;
    text-align:center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%,     rgba(0,212,255,1) 100%);
    color:white;
    font-family:helvetica;
    
  }
  img{
    margin-top:3rem;
    align-items:center;
    justify-content:center;
    justify-items:center;
    width:160px;
    border-radius:100px;
  }
  .botoes{
    color:black;
    background-color:white;
    border-radius:15px;
    padding-left:8vw;
    padding-right:8vw;
    padding-top:5px;
    padding-bottom:5px;
    gap:1rem;
  }
  .container-botoes{
    display:flex;
    flex-direction:column;
    gap:1rem;
    font-family:helvetica;
    font-size:0.8rem;
  }